.icon-archer-logo .path1:before {
    content: "\e900";
    color: #193153;
  }
  .icon-archer-logo .path2:before {
    content: "\e901";
    color: #193153;
    margin-left: -1em;
  }
  .icon-archer-logo .path3:before {
    content: "\e902";
    color: #193153;
    margin-left: -1em;
  }
  .icon-archer-logo .path4:before {
    content: "\e903";
    color: #193153;
    margin-left: -1em;
  }
  .icon-archer-logo .path5:before {
    content: "\e904";
    color: #193153;
    margin-left: -1em;
  }
  .icon-archer-logo .path6:before {
    content: "\e905";
    color: #193153;
    margin-left: -1em;
  }
  .icon-archer-logo .path7:before {
    content: "\e906";
    color: #193153;
    margin-left: -1em;
  }
  .icon-archer-logo .path8:before {
    content: "\e907";
    color: #193153;
    margin-left: -1em;
  }
  .icon-archer-logo .path9:before {
    content: "\e908";
    color: #193153;
    margin-left: -1em;
  }
  .icon-archer-logo .path10:before {
    content: "\e909";
    color: #193153;
    margin-left: -1em;
  }
  .icon-archer-logo .path11:before {
    content: "\e90a";
    color: #193153;
    margin-left: -1em;
  }
  .icon-archer-logo .path12:before {
    content: "\e90b";
    color: #193153;
    margin-left: -1em;
  }
  .icon-archer-logo .path13:before {
    content: "\e90c";
    color: #193153;
    margin-left: -1em;
  }
  .icon-archer-logo .path14:before {
    content: "\e90d";
    color: #193153;
    margin-left: -1em;
  }
  .icon-archer-logo .path15:before {
    content: "\e90e";
    color: #193153;
    margin-left: -1em;
  }
  .icon-archer-logo .path16:before {
    content: "\e90f";
    color: #193153;
    margin-left: -1em;
  }
  .icon-archer-logo .path17:before {
    content: "\e910";
    color: #193153;
    margin-left: -1em;
  }
  .icon-archer-logo .path18:before {
    content: "\e911";
    color: #193153;
    margin-left: -1em;
  }
  .icon-archer-logo .path19:before {
    content: "\e912";
    color: #193153;
    margin-left: -1em;
  }
  .icon-archer-logo .path20:before {
    content: "\e913";
    color: #193153;
    margin-left: -1em;
  }
  .icon-archer-logo .path21:before {
    content: "\e914";
    color: #193153;
    margin-left: -1em;
  }
  .icon-archer-logo .path22:before {
    content: "\e915";
    color: #193153;
    margin-left: -1em;
  }
  .icon-archer-logo .path23:before {
    content: "\e916";
    color: #193153;
    margin-left: -1em;
  }
  .icon-archer-logo .path24:before {
    content: "\e917";
    color: #193153;
    margin-left: -1em;
  }
  .icon-archer-logo .path25:before {
    content: "\e918";
    color: #193153;
    margin-left: -1em;
  }
  .icon-archer-logo .path26:before {
    content: "\e919";
    color: #193153;
    margin-left: -1em;
  }
  .icon-archer-logo .path27:before {
    content: "\e91a";
    color: #193153;
    margin-left: -1em;
  }
  .icon-archer-logo .path28:before {
    content: "\e91b";
    color: #193153;
    margin-left: -1em;
  }
  .icon-archer-logo .path29:before {
    content: "\e91c";
    color: #193153;
    margin-left: -1em;
  }
  .icon-archer-logo .path30:before {
    content: "\e91d";
    color: #193153;
    margin-left: -1em;
  }
  .icon-archer-logo .path31:before {
    content: "\e91e";
    color: #193153;
    margin-left: -1em;
  }
  .icon-archer-logo .path32:before {
    content: "\e91f";
    color: #193153;
    margin-left: -1em;
  }
  .icon-archer-logo .path33:before {
    content: "\e920";
    color: #193153;
    margin-left: -1em;
  }
  .icon-archer-logo .path34:before {
    content: "\e921";
    color: #193153;
    margin-left: -1em;
  }
  .icon-archer-logo .path35:before {
    content: "\e922";
    color: #193153;
    margin-left: -1em;
  }
  .icon-archer-logo .path36:before {
    content: "\e923";
    color: #193153;
    margin-left: -1em;
  }
  .icon-archer-logo .path37:before {
    content: "\e924";
    color: #193153;
    margin-left: -1em;
  }
  .icon-archer-logo .path38:before {
    content: "\e925";
    color: #193153;
    margin-left: -1em;
  }
  .icon-archer-logo .path39:before {
    content: "\e926";
    color: #193153;
    margin-left: -1em;
  }
  .icon-archer-logo .path40:before {
    content: "\e927";
    color: #193153;
    margin-left: -1em;
  }
  .icon-archer-logo .path41:before {
    content: "\e928";
    color: #193153;
    margin-left: -1em;
  }
  .icon-archer-logo .path42:before {
    content: "\e929";
    color: #193153;
    margin-left: -1em;
  }
  .icon-archer-logo .path43:before {
    content: "\e92a";
    color: #193153;
    margin-left: -1em;
  }
  .icon-archer-logo .path44:before {
    content: "\e92b";
    color: #193153;
    margin-left: -1em;
  }
  .icon-archer-logo .path45:before {
    content: "\e92c";
    color: #193153;
    margin-left: -1em;
  }
  .icon-archer-logo .path46:before {
    content: "\e92d";
    color: #193153;
    margin-left: -1em;
  }
  .icon-archer-logo .path47:before {
    content: "\e92e";
    color: #193153;
    margin-left: -1em;
  }
  .icon-archer-logo .path48:before {
    content: "\e92f";
    color: #193153;
    margin-left: -1em;
  }
  .icon-archer-logo .path49:before {
    content: "\e930";
    color: #000;
    margin-left: -1em;
  }
  .icon-archer-logo .path50:before {
    content: "\e931";
    color: #193153;
    margin-left: -1em;
  }
  .icon-archer-logo .path51:before {
    content: "\e932";
    color: #193153;
    margin-left: -1em;
  }
  .icon-archer-logo .path52:before {
    content: "\e933";
    color: #193153;
    margin-left: -1em;
  }
  .icon-archer-logo .path53:before {
    content: "\e934";
    color: #193153;
    margin-left: -1em;
  }
  .icon-archer-logo .path54:before {
    content: "\e935";
    color: #193153;
    margin-left: -1em;
  }
  .icon-archer-logo .path55:before {
    content: "\e936";
    color: #193153;
    margin-left: -1em;
  }
  .icon-archer-logo .path56:before {
    content: "\e937";
    color: #193153;
    margin-left: -1em;
  }
  .icon-archer-logo .path57:before {
    content: "\e938";
    color: #000;
    margin-left: -1em;
  }
  .icon-archer-logo .path58:before {
    content: "\e939";
    color: #000;
    margin-left: -1em;
  }